# Configuración de Nitro/Servidor
NITRO_PRESET=vercel

# Configuración de la aplicación
VITE_API_URL=https://municipiosos.paralelo.tech

# Desarrollo local
# NODE_ENV=development
# VITE_API_URL_DEV=http://localhost:5173